
/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}
.layout,
.l-container {
  background: #ffffff;
}
.l-header {
  color: #fffeff;
  background-color: #0779bf;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
.l-header ul.menu > li > a {
  color: #f3f7fa;
}
.l-header ul.menu-dropdown a {
  color: #3b3b3b;
}

/* Style the colors of the dropdown to match the header if no-tabs. */
.l-header .no-tabs ul.menu a {
  color: #f3f7fa;
}
.l-header .no-tabs .menu-dropdown a span.sub-arrow {
  border-color: #f3f7fa transparent transparent transparent;
}
.l-header .no-tabs .menu-dropdown ul a span.sub-arrow {
  border-color: transparent transparent transparent #f3f7fa; /* RTL */
}
[dir="rtl"] .l-header  .no-tabs .menu-dropdown ul a span.sub-arrow {
  border-color: transparent #f3f7fa transparent transparent;
}
.l-header .no-tabs ul.menu-dropdown ul {
  background-color: #48a9e4;
}

input {
  color: #3b3b3b;
}
.tabs ul.primary > li > a.active {
  background-color: #ffffff;
}
.tabs ul.primary > li.active > a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

a,
a:hover,
a:focus,
a:active {
  color: #0071b3;
}

.l-sidebar .block {
  background-color: #f3f7fa;
  border-color: #f9f9f9;
}

.l-footer-wrapper,
.l-footer {
  background: #292929;
}
.l-header a {
  color: #fffeff;
}

/** Buttons **/
.form-submit,
a.button,
.more-link a,
.node-readmore a {
  background: #0071b3;
  color: #ffffff;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
}

.breadcrumb {
  background-color: #f3f7fa;
}